<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plframework">

    <application
        android:name="com.example.plframework.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.plframework.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.plframework.stub.stubActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.intent.action.stub_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
